<div id="firebase" style="position: fixed; left: 0; bottom: 0; width: 400px; height: 300px; background-color:yellow; z-index: 100; display:none">

							<ul>↓Firebase↓</ul><br>
			 
			  <input id="txtEmail" type="email" placeholder="Email">
			  <input id="txtPassword" type="password" placeholder="Password">
			  
			  <!-- 下面面三个 是邮箱密码 和 匿名的登录方式
				  <button id="btnSignUp" > Sign Up </button>
			    <button id="btnLogin" > login </button>
			    <button id="btnLogOut" > Log Out </button>
			  -->

			  <!-- 下面是 github 的登录方式 -->
			  <button id="githubLogin" > Github login </button>
			  <button id="githubLogOut" > Github LogOut </button>
			  
			  
			  
		



			  			 <br>
			   <ul id="List">数据库1:</ul>
			   
			   
			 				 <br>
			 	 <ul >数据库2:</ul>
			   <pre id="Object"></pre>
			   
</div>