<div id="cateDiv">

<!-- ----------------------------------------------------------------------------------------------- -->
<!-- 默认排序:按照文件是时间顺序 不是按照文章数量. 也不是按照自定义. 
这个需要一直隐藏. 一加载页面就隐藏这个. 然后用js 来实现自定义排序.所以其实 一开始显示的是 自定义排序. -->
<ul id="cateDivFlex" class="CLcateDivFlex" style="overflow: scroll;" >	
{% for someCate in site.categories %}
    {% assign cateClicked = someCate | first %}    
    {% assign catePosts = someCate | last %}
    <!-- 下面的class/id 是给大类排序用的 -->
        <li style="order: 100; padding-bottom:5px;"; class="cate-status" id="{{cateClicked}}" style="width: 90%, background-color:red;";> 
           <a href onclick="catefilter('{{ cateClicked }}'); return false;" >			
            {{ cateClicked }}<sup>{{catePosts | size }}</sup>
           </a>
        </li>
    
{% endfor %}
</ul>


<span id="ymlCateName" class="hidden">{{ site.ymlCateSort }}</span> 
<span id="ymlCateSortDefault" class="hidden">{{ site.ymlCateSortDefault }}</span> 
<!-- ★★★★★ span是 为了js可以获取到 yml里面的信息 而添加的中转功能 ★★★★★ -->


</div>






