		<script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<!--	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>  -->
	  	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>

<!--	  	<script src="https://cdn.bootcss.com/vue/2.1.8/vue.common.js"></script>  -->


		<script src="https://cdn.bootcss.com/jquery.pjax/1.9.6/jquery.pjax.min.js"></script> 
		<script src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script> 

		<script src="/js/main.js"></script>
</body></html>