  <link rel="stylesheet" href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" >  
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg" >  
  <link rel="stylesheet" href="/RougeThemes/monokaiSublime.css">
<!-- 上面这个是 语法高亮的 css. 需要本地安装rouge 再导出喜欢的css 放到这里才可以高亮 -->




  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <!-- 谷歌 firebase 的代码...  放前面.. -->


		<script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<!--	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>  -->
	  	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>

<!--	  	<script src="https://cdn.bootcss.com/vue/2.1.8/vue.common.js"></script>  -->


		<script src="https://cdn.bootcss.com/jquery.pjax/1.9.6/jquery.pjax.min.js"></script> 
		<script src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script> 

		<script src="/js/main.js"></script>
		<script src="/highlight.js/highlight.pack.js"></script>

		<script src="/js/app.js"></script>


</body></html>