<!DOCTYPE html>
<html lang="cn">
<!-- <html lang="cn" manifest="index.manifest"> 缓存文件 -->

<head>

  <!-- Google Tag Manager -->
 <!--
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WCT5B83');</script>
 -->
  <!-- End Google Tag Manager -->
	
  <meta name="baidu-site-verification" content="Ohg13UGZAL" />
  <!-- 百度 站长工具验证 可delete -->


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="1; url=/404.html">
  {% endif %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!-- 标题. 网页标题: 配置文件里自定义; 还有种每篇文章的标题. -->

  <meta name="mate" content="{{ page.meta }}" />




  <link rel="stylesheet" href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" >  
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg" >  



<link rel="stylesheet" href="/RougeThemes/monokaiSublime.css">


<!-- 上面这个是 语法高亮的 css. 需要本地安装rouge 再导出喜欢的css 放到这里才可以高亮 -->
  <link rel="stylesheet" href="/css/main.css" >
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCT5B83"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->	
