<div id="Div">
<!-- ----------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------- -->


<div id="cateDiv">
    <ul id="catenameUL" style="overflow: scroll;" >	
        {% for someCate in site.categories %}
            {% assign cateClicked = someCate | first %}    
            {% assign catePosts = someCate | last %}
                <li id="{{cateClicked}}" class="cateNames"><span>{{ cateClicked }}</span><sup class="cateSup">{{catePosts | size }}</sup></a></li>
        {% endfor %}
    </ul>
</div>

<!-- ----------------------------------------------------------------------------------------------- -->

<div id="tagDiv"> 
    <ul class="tagsDiv1-allTags" id="tagnameUL" style="overflow: scroll;" >
        {% for tag in site.tags %}
            {% assign t = tag | first %}
            {% assign files = tag | last %}
              <li class="tagNames" id="{{ t }}" data-tagcate="{{ files[0].categories }}"><i class="fa fa-chevron-right faa-spin animated-hover" aria-hidden="true"></i><span>{{ t }}</span><sup>{{files | size}}</sup></li>
        {% endfor %}
    </ul>
</div>

<!-- ----------------------------------------------------------------------------------------------- -->

<div id="lineLeft"> 
  <div class="lineFlex">
    <div id="lineLeft-left">  </div>
      <div class="lineInDiv"> </div> 
    <div id="lineLeft-right"> </div>
  </div>
</div>

	<div id="filenameDiv" >
		<!--  顶部按钮 栏 -->
		<li id="filenameDiv-Btnes">
			<i class="fa fa-search fa-fw" aria-hidden="true"        id="filenameDiSearch"; onclick="   return false;" ></i>
			<a href onclick="showAllTagsandPosts(); return false;"   id="allCateTagPostBtn"> 
			  <!-- 这个函数 在 catefilter.js 里面 -->
			  <i class="fa fa-folder-open " aria-hidden="true" ></i>
			  <sup style="font-size:0.7em; float:none; ">{{site.categories | size }}</sup>    	
			  <i class="fa  fa-tags " aria-hidden="true" ></i>
			  <sup style="font-size:0.7em; float:none; ">{{site.tags | size }}</sup>
			  <i class="fa fa-files-o " aria-hidden="true" ></i>
			  <sup style="font-size:0.7em; float:none;">{{site.posts | size }}</sup>
			</a>  
			<i class="fa fa-eye-slash fa-fw" aria-hidden="true"           id="filenameDivDate"; onclick="fileNameDate();  return false;" ></i>
			<!-- 这个显隐函数 在  filename.js 里 -->
		</li><br>

		<ul id="filenameUL" style="overflow: scroll;">
			{% for post in site.posts reversed %}
				<li class="postNames" data-cate="{{post.categories}}" data-tag="{{post.tags}}">
				  <a href="{{ post.url }}">
					 {{ post.title }}<sup class="fileNameDate hidden">{{ post.date | date: "%Y-%m-%d" }}</sup> 
				</a>
				</li>
			{% endfor %}
		</ul>
	</div>

<div id="lineRight"> 
  <div class="lineFlex">
    <div id="lineRight-left">  </div>
      <div class="lineInDiv"> </div> 
    <div id="lineRight-right"> </div>
  </div>
</div>	

<!-- ----------------------------------------------------------------------------------------------- -->

<div id="contentDiv" class="markdown-body">
    <div id="contentDiv-Buttons" style="display: flex" >
        {% if page.previous %}
            <a href="{{ page.previous.url }}"> <button class="contentButton">
             <i class="fa fa-backward" aria-hidden="true"></i>: {{ page.previous.title }} </button>  
            </a>
        {% endif %}	

        <span style="flex-shrink: 1 ;flex-grow: 1;text-align: center;">{{ page.title }}</span>	

        {% if page.next %}
            <a href="{{ page.next.url }}">	<button class="contentButton">
              {{ page.next.title }} <i class="fa fa-forward" aria-hidden="true"></i></button>	
            </a>
        {% endif %}	
    </div><br>

    <div id="xx"></div>


			
	{% if page.meta != ‘’ %}
		meta: {{page.meta}} <hr>
	{% endif %}
	<!-- 这里判断一下 有没有设置meta 有就显示 没有就不显示 -->

	{{ page.content }}
	<!-- 带page前缀 就不会显示文件的标题.  没有page前缀就会显示文件标题 -->

	<!-- 这里 用pjax的时候 有点问题. 首次是有评论的,但是一旦点击某个文章.用了 pjax 就没有多说了... -->
	<!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="{{page.url}}"></div>
	<!-- 多说评论框 end -->


	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"0214"};
		(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- 多说公共JS代码 end -->

</div>

<div id="rightNavbar">


</div>
<!-- ----------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------- -->
</div>















