<div id="tagDiv"> 

<span id="ymlTagSortDefault" class="hidden">{{ site.ymlTagSortDefault }}</span> 
<!-- ★★★★★ span是 为了js可以获取到 yml里面的信息 而添加的中转功能 ★★★★★ -->


<!-- ----------------------------------------------------------------------------------------------- -->

<!-- 默认排序. 按照时间. 越旧越上面. -->	
<!-- 显示所有的标签  这里的 id: -item 是给设置active 用的... 11 -->      
<div id="tagDiv1"  >	
    <ul class="tagsDiv1-allTags" id="alltagsContainer" style="overflow: scroll;" >
        {% for tag in site.tags %}
            {% assign t = tag | first %}
            {% assign files = tag | last %}
              <li class="tagDiv-tags" id="{{ t }}-item">
                <a href onclick="filter('{{ t }}'); return false;">
                    <i class="fa fa-chevron-right faa-spin animated-hover" aria-hidden="true"></i>
                    {{ t }}
                    <sup>{{files | size}}</sup></a>
                    
                   


              </li>
        {% endfor %}
    </ul>
</div>	



<!-- ----------------------------------------------------------------------------------------------- -->
<!-- 某大类标签: 默认 . 时间排序. 越早越上面.  -->	
{% for A in site.categories %}       <!-- 循环处理所有的大类. -->
{% assign A1 = A | first %}          <!-- 开始处理一个个大类 -->
<div class="tagDiv2-catetags hidden" id="{{A1}}-cate" style="overflow: scroll;"> 
<!-- <hr>循环类:{{A1}} -->
	{% for B in site.tags %}           <!-- 循环处理所有标签. -->
	{% assign B1 = B | first %}	       <!-- 开始处理一个标签. -->
	{% assign B2 = B | last %}	       <!-- 第一个标签.的所有文章 -->
		{% for C in B2 %}     					 <!-- 遍历 第一个标签下的所有文章 -->
			{% capture xxoo %}{% if C.categories contains A1 %}{{B1}}{% endif %}{% endcapture %}	 
		{% endfor %}         <!-- 结束第一个标签下. 所有文章的处理 -->
		<div class="tagDiv3-catetags" id="{{xxoo}}-cate">
				<li class="delEmptyrow-C" id="{{xxoo}}-cate22">
				  <a href onclick="filter('{{ xxoo }}'); return false;">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
					<span>{{xxoo}}</span>
					<sup>{{B2 | size}}</sup></a>
				</li>
<!-- 					这个值 多了一个空格 操  怎么去掉.. 用liquid....!!! -->
	  </div>
	{% endfor %}       <!-- 结束第一个大类下的. 所有标签的处理 --> 
</div>  	
{% endfor %}


<!-- ----------------------------------------------------------------------------------------------- -->



	
		
</div>