<div id="topbarDiv"> 
 <i class="fa fa-th-list fa-fw" style="font-size: 1.5em" id="sidebarToggle"></i>
 <a href="/readme.md"  target="_blank" > <i class="fa fa-home  fa-fw" style="font-size: 1.5em"></i>
 <a href="https://www.freecodecamp.com/xu-jian"  target="_blank" > <i class="fa fa-free-code-camp  fa-fw" style="font-size: 1.5em"></i>
 <a href="{{site.github_url}}"  target="_blank" > <i class="fa fa-github  fa-fw" style="font-size: 1.5em"></i> </a>
 <a href="{{site.codePen_url}}" target="_blank" > <i class="fa fa-codepen fa-fw" style="font-size: 1.5em"></i> </a>
	<!-- 这上下箭头是给移动设备准备的.  左右箭头是给PC准备的. 用来显示/隐藏 各种标签栏目.

	<span class="fa-stack fa-lg"> <i class="fa fa-square-o fa-fw fa-stack-2x"></i> <i class="fa fa-th-list fa-fw fa-stack-1x"  id="sidebarToggle"></i></span>
	
	<a href="{{site.github_url}}" >
	  <span class="fa-stack fa-lg" > 
	    <i class="fa fa-square-o fa-fw fa-stack-2x"></i> <i class="fa fa-github fa-fw fa-stack-1x"> </i>
	  </span>
	</a>	
	
	<span class="fa-stack fa-lg"> <i class="fa fa-square-o fa-fw fa-stack-2x"></i> <i class="fa fa-codepen fa-fw fa-stack-1x"></i> </span>	


	 style="font-size: 2.5em; line-height: 1em; padding-left: 4px; padding-top:2px;"
	<button class="btn btn-block btn-info"   id="mouseLeft"   >设置图标.       </button>    
	<button class="btn btn-block btn-info"   id="mouseRight"  >连续右移        </button>    
	<button class="btn btn-block btn-info"   id="mouseLeft"   >连续上移        </button>   
	<button class="btn btn-block btn-info"   id="mouseLeft"   >连续下移        </button>  
	-->	
</div>


