<div id="topbarDiv"> 
  <div style="display: inline">
    <!-- 显隐分类栏 -->
    <span title="显隐分类栏">
      <svg class="icon" aria-hidden="true" id="topbarToggle"  >
        <use xlink:href="#icon-layouts"></use>
      </svg>
    </span>
    <!-- Github Home 图标 -->
    <a href="{{site.githubHomeURL}}"  target="_blank" title="Github Home" >
      <svg class="icon" aria-hidden="true"  >
        <use xlink:href="#icon-Git"></use>
      </svg> 
    </a>
  </div>



<div style="display: inline">
  <!-- 手机图标 -->
  <span onclick="alert('{{site.name}}: {{site.Phone}}')" title="{{site.name}}: {{site.Phone}}" > 
    <svg class="icon" aria-hidden="true"  >
      <use xlink:href="#icon-shouji"></use>
    </svg>
  </span>
  <!-- DOC简历图标  -->
  <a href="{{site.codePen_url}}" target="_blank" title="Doc 简历下载" >
    <svg class="icon" aria-hidden="true"  >
      <use xlink:href="#icon-jianli"></use>
    </svg>     
  </a>

    <span style="display: inline; line-height: 30px;">
      <span style="display: table-cell; vertical-align: middle;" >(Resume)</span>
    </span>

   <!-- 在线简历图标  -->
  <a href="{{site.codePen_url}}" target="_blank" title="在线简历" >  
    <svg class="icon" aria-hidden="true"  >
      <use xlink:href="#icon-jianli"></use>
    </svg>
  </a>
  <!-- 邮件图标 -->
  <a href="mailto:{{site.email}}" target="_blank" title="E-mail Me" >    
    <svg class="icon" aria-hidden="true"  >
      <use xlink:href="#icon-emailround"></use>
    </svg>
  </a>
</div>

  <!--
     Codepen 图标
  <a href="{{site.codePen_url}}" target="_blank" title="Codepen Home" >
    <svg class="icon" aria-hidden="true"  >
      <use xlink:href="#icon-codepen"></use>
    </svg>
  </a>
 -->



 <div style="display: inline">
    <!-- Github Readme 图标 -->  
    <a href="{{site.githubReadmeURL}}"  target="_blank">
      <svg class="icon" aria-hidden="true"  >
        <use xlink:href="#icon-Git"></use>
      </svg>
    </a>
    <!-- 显隐文件结构栏-->  
    <svg class="icon" aria-hidden="true" id="topbarStructureToggle">
      <use xlink:href="#icon-layouts"></use>
    </svg>
  </div>
</div>


