{% include header.html %}      <!-- 所有文章头部 -->

<div id="bigDiv">          
	{% include topbar.html %}
	{% include main.html %}
	{% include firebase.html %}
</div>
 

<!-- 绝对定位 导航条  右下角: 三个箭头而已. -->
<div id="arrowNav">
	<span style="font-size: 25px; display: inline-block; transform: rotate(180deg);" id="leftBtn">➟</span>
	<span style="font-size: 25px; display: inline-block; transform: rotate(270deg);" id="toTopBtn">➼</span>
	<span style="font-size: 25px" id="rightBtn">➟</span>
</div>

{% include footer.html %}   <!-- 所有文章尾部 -->




